* {
    margin: 0;
    padding: 0;
}
body{
    max-width: 100vw;
}
header {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 5rem;
    align-items: center;
}

#flexnav {
    display: flex;
    text-align: center;
    align-items: center;
}

header>div>nav {
    display: unset;
    font-family: 'Heebo', sans-serif;
}

header>div>nav>a, #lock{
    text-decoration: none;
    width: 400;
    font-size: 15px;
    line-height: 33px;
    color: #02073E;
    margin: 10px;
}

header>div>button#lgn{
    all: unset;
    margin: 10px;
    font-weight: 900;
    cursor: pointer;
}

header>div>button#login{
    width: 148px;
    height: 40px;
    background-color: #3CC68A;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

#lock {
    display: flex;
    text-align: center;
    align-items: center;
}

main{
    max-width:100%;
    display: flex;
    justify-content: space-between;

}