.formSection {
  all: unset;
  display: block;
  border: 1px solid #00A99D;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 1rem;
}

.sectionTitle {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0 0.5rem;
}