* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 70vh;
    padding: 7% 0;
    background-color: lightgrey;

}

main {
    text-align: left;
    width: 45vw;
    height: 70vh;
    padding: 25px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 2px 3px 3px grey;
    background-color: #ededed52;
    text-align: center;
}

h1 {
    font-size: 1.3em;
    margin-bottom: 15px;
    text-align: center;
    color: #A20503;
}

#burgeur {
    width: 20em;
    height: 15em;
}

#tm{
    font-size: 2.5vw;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#volta {
    color: gray;
    font-size: 2.5vw;
    margin-left: -20px;
}

